{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
{% block stylesheets %}
    <style>
        .portfolio-item {
            display: flex;
            align-items: center;
        }
        .portfolio-item img {
            height: 200px;
            width: auto;
            object-fit: cover;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="mb-8 p-4">
                {% block bread %}
                    → <a href="{{ path('app_profile') }}">Profile</a> → Portfolio
                {% endblock %}
                <p class="mt-4 text-xl">
                    Check out how my work looks like in these projects:
                </p>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                {% for project in project %}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <div class="mt-2 mb-2">
                                {{ project.title }}
                            </div>
                            <img src="{{ project.ProjectImage }}" class="img-fluid" alt="">
                            <div class="portfolio-links mt-4 mb-4 position-absolute start-0 end-0">
                                <a href="{{ path('app_projects_show', { project: project.id }) }}" class="btn-details w-100">
                                    details
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <p class="text-sm">
                    More on <a href="https://github.com/Victoria-ElenaLazar">GitHub</a>
                </p>
            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->

{% endblock %}
